*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    color: white;
    padding: 4px;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

article, aside {
    min-width: 20vw;
}
footer, header {
    min-height:10vh;
}

nav {
    background-color: lime;
    min-width: 20vw;
}
header {
    background-color: goldenrod;
}
article {
    background-color: blue;
    flex-grow: 1;
}
aside {
    background-color: salmon;
}
footer {
    background-color: hotpink;
}

nav, header, article, aside, footer {
    margin: none;
    padding: none;
}